@inject IJSRuntime jsRuntime

<div id="chart-container-bar"></div>


@code {

    [Parameter]
    public ChartDataModel ChartData { get; set; }

  
    protected override async Task OnParametersSetAsync()
    {
        if(ChartData != null)
        {         
            await jsRuntime.InvokeVoidAsync("generateBarChart", "#chart-container-bar", ChartData);
            this.StateHasChanged();
        }
    }
}
