name: Build on demand with artifact

on:
  workflow_dispatch:
  push:    
    tags:        
      - v*

jobs:

  build-pixel-designer-and-runner-for-win10-x64:
    uses: ./.github/workflows/build-pixel-designer.yml
    with:
      target-os: windows-latest
      dotnet-version: 8.0.x
      target-framework: net8.0-windows

  build-pixel-runner-for-linux-x64:
    uses: ./.github/workflows/build-pixel-runner.yml
    with:
      target-os: windows-latest
      dotnet-version: 8.0.x
      target-runtime: linux-x64
      target-framework: net8.0
      self-contained: false




